---
---
@import 'settings';
@import 'foundation';

@include foundation-everything;

$sky: #CAEBF2;
$sky-dark: #78b7bf;
$sky-darker: #518086;
$sky-darkest: #40696E;
$carbon: #A9A9A9;
$watermelon: #FF3B3F;
$neutral: #EFEFEF;
$default-font-color: #444;

// a, a:link, a:hover, a:active, a:visited {
// 	color: #de7400;
// }

// a:hover, a:active {
// 	color: #f78100;
// }

body {
  background-color: #d6d6d6;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  color: $default-font-color;
}

.top-bar {
  padding: 0;

  li {
    padding: 0.5rem;

    &.menu-item-main {
      font-size: 2rem;
      padding: 0;

      a {
        color: white;
        padding: 0.1rem 0.5rem;

        span {
          padding: 0.2rem;
          background-color: $watermelon;
          border: 0.3rem solid $sky;
          border-radius: 1.5rem;
        }
      }
    }
  }

  a, a:link, a:visited {
  	color: $watermelon;
  }
  
  a:hover, a:active {
  	color: $watermelon;
  }
}

.main-area {
  background-image: url('/images/abstract.jpg');
  border-top: 2px solid #FF3B3F;
  border-bottom: 4px solid #FF3B3F;
}

.content-container {
  background-color: $neutral;
}

.contact-item-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  
  .contact-item {
    font-size: 2rem;
    padding: 0;
    margin: 0 10px;

    &:last-child {
      margin-right: 0;
    }
    
    a.icon-linkedin {
      color: #1884BB;
    }
    
    a.icon-github {
      color: #333;
    }

    a.icon-twitter {
      color: #1DA1F2;
    }
  }
}

.current-project-box {
  margin: 1rem 0;
  padding: 1rem;
  background-color: rgba(97, 175, 185, 0.7);
  color: white;
  
  .upcoming-event {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  a {
    font-weight: bold;
    color: white;

    &:hover {
      color: $sky;
    }
  }
}

.post-excerpt-box,
.project-post-excerpt-box,
.repo-box {
  margin-bottom: 1.5rem;
  padding: 0;

  .project-post-excerpt-header {
    padding: 0.5rem;
    background-color: $watermelon;
    color: white;
  }
  
  .post-excerpt-header {
    padding: 0.5rem;
    background-color: $sky;
  }
  
  .post-title,
  .project-post-title,
  .repo-title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  a.project-post-title {
    color: white;
  }

  a.post-title {
    color: $sky-darker;
  }
}

.project-post-excerpt-box {
  border: 1px solid $watermelon;
  
  .post-date {
    color: white;
  }
}

.post-excerpt-box {
  border: 1px solid $sky;

  .post-date {
    color: $sky-darker;
  }
}

.content-columns-container {
  background-color: $sky-dark;
}

.content-column {
  color: white;
  padding-top: 1em;
}

.post-date,
.repo-date {
	font-size: 0.9rem;
  white-space: nowrap;
  font-style: italic;
}

.post-excerpt {
  font-size: 1rem;
  color: #444;
  background-color: white;
  padding: 0.8rem;
}

.contact-icons {
	font-size: 2rem;
}

a img {
  border: 1px solid $medium-gray;
}

a.thumb img {
  border: 1px solid $medium-gray;
}

.blog-post-content-container {
  background-color: $sky;
  
  .left-menu {
    padding-top: 1rem;
  }

  .post-nav {
    padding: 1rem;
    background-color: $watermelon;
    margin-bottom: 1rem;

    a {
      color: white;
      font-weight: bold;

      &:hover {
        color: #1884BB;
      }
    }
  }

  .post-nav-next {
    text-align: right;
  }

  .post-header {
    color: $sky-darker;
  }

  .post-info {
    color: $sky-darker;
    border-bottom: 1px solid $watermelon;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    .post-author {
      font-size: 1.2rem;
    }

    .post-date {
      font-size: 1rem;
      margin-left: 1rem;
    }

    .post-category-tag {
      margin-left: 1rem;
      padding: 0.5rem;
      color: $watermelon;
      border: 1px solid $watermelon;
    }
  }

  .blog-post-content {
    background-color: white;
  }
}

.side-menu-item {
  a {
    color: $sky-darkest;

    &:hover {
      color: $sky-darker;
    }
  }

  .post-date {
    color: $sky-darker;
  }
}