---
---
@import 'foundation';

@include foundation-everything;

a, a:link, a:hover, a:active, a:visited {
	color: #de7400;
}

a:hover, a:active {
	color: #f78100;
}

.nav {
	margin-bottom: 10px;
}

.current-project-box {
	padding: 1rem;
	border: 1px solid #E7900D;
	background-color: #fff;
}

.project-name {
	font-weight: bold;
}

.project-description {
	color: #666;
}

.contact-icon {
	margin-left: 10px;
	&:first-child {
		margin-left: 0px;
	}
}

a.icon-linkedin {
	color: #1884BB;
}

a.icon-github {
	color: #333;
}

.post-excerpt-box,
.repo-box {
	border: 1px solid $medium-gray;
    margin-bottom: 10px;
    padding: 15px;
}

.post-title,
.project-post-title,
.repo-title {
	font-size: 1.1rem;
}

a.project-post-title {
	color: #cc8b00;
}

a.post-title {
	color: #4baf34;
}

a.repo-title {
	color: #3474af;
}

.post-date,
.repo-date {
	color: $dark-gray;
	font-size: 0.8rem;
	white-space: nowrap;
}

.post-excerpt {
	font-size: 0.9rem;
}

.contact-icons {
	font-size: 2rem;
}

.post-nav-next {
	text-align: right;
}

.left-menu {
	background-color: $light-gray;
}