---
layout: default
---

<div class="row" data-equalizer>
	<div class="small-2 columns left-menu" data-equalizer-watch>
    {% assign otherPostCount = 0 %}
    {% for post in site.posts %}
      {% if otherPostCount < 40 %}
        <div class="side-menu-item">
          <p>
            <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
            <span class="post-date">{{ post.date | date: "%d %b %Y" }}</span>
          </p>
        </div>
        {% assign otherPostCount=otherPostCount | plus:1 %}
      {% endif %}
    {% endfor %}
  </div>
	<div class="small-10 columns" data-equalizer-watch>
		<div class="row post-nav">
			<div class="post-nav-prev small-6 columns">
				{% if page.previous.url %}
					<a class="prev" href="{{page.previous.url}}">
						&laquo; {{page.previous.title}}</a>
				{% endif %}
			</div>
			<div class="post-nav-next small-6 columns">
				{% if page.next.url %}
					<a class="prev" href="{{page.next.url}}">
						{{page.next.title}} &raquo;</a>
				{% endif %}
			</div>
    </div>
    <h2 class="post-header">{{page.title}}</h2>
		{{ content }}
	</div>
</div>